.computer-background{
    background: #B8D0EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) {
    .computer {
        position: absolute;
        right: 0vw;
        top: 10%;
    }
}
@media (max-width: 700px) {
    .computer {
        position: absolute;
        left: 0px;
        height: 50vh !important;
        width: 50vw !important;
    }
}