@import url('https://db.onlinewebfonts.com/c/fcd427f1ebeea0bc781d457bd3a15c74?family=Hagrid+Trial+Regular');



@font-face {
    font-family: "Neue Machina Regular";
    src: url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.eot");
    src: url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.svg#Neue Machina Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.portfolio{
    background: #6F2DBD;
    flex-direction: column;
}


.slider-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 95vw;
    padding-top: 10vh;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 calc(33.33%-10px);
    margin: 0 23px;
}

.proyect-item {
    display: block;
    width: 100%;
    text-align: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
    padding-top: 10vh;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}