.size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 200%; 
  z-index: -1;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}